
<h1 align="center">Seth Bromberger</h1>
<p align="center">
<a href="http://www.seas.upenn.edu">M.S. Eng.</a> &bull; <a href="http://www.isc2.org">CISSP-ISSMP</a> &bull; <a href="http://www.isaca.org">CISM</a> &bull; NSA-IAM
</p>
<p align="center">
<img src="/images/sbcircle200.png" alt="Picture of Seth Bromberger" id="pic"/>
</p>

<ul class="nav view">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/pubs">Publications & Press</a></li>
<li><a href="/projects">Projects & Research</a></li>
<li><a href="https://github.com/sbromberger">GitHub Profile</a></li>
</ul>
